<div class="article">
	<h2><%- article.title %></h2>
	<div class="meta">
			<span class="date"><%- article.date.getFullYear() + '/' + (article.date.getMonth() + 1) + '/' + article.date.getDate() %></span> - <span class="author"><%- article.author.name %> <a href="http://twitter.com/<%- article.author.twitterUsername %>">@<%- article.author.twitterUsername %></a></span>
	</div>
	<div class="article-content">
		<%- article.content %>
	</div>
</div><!-- end article -->