!!!
html(lang="en")
	head
		title= title
		meta(name='viewport', content='width=device-width')
		link(rel='stylesheet', href='/css/reset.css')
		link(rel='stylesheet', href='/css/main.css')
	body
		.bounding

			#header
				a#logo(href='/')
					img(src='/img/logo.png', alt='Melb JS')

			a(href='https://github.com/melbjs/melbjs')
				img#forkme(src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', alt='Fork me on GitHub')
			
			if event === undefined

				section

					h2 Event data still loading from Lanyrd

					p 
						| Currently scraping from 
						a(href=lanyrdUrl)= lanyrdUrl.replace('http://', '')
						| . That may not even be the correct month, but we won't know 
						| until we load it :) Refresh the page in a few seconds and try again.

			else

				section.next-event

					h2= event.title === 'MelbJS' ? 'Next event' : event.title

					if event.tagline
						p= event.tagline

					ul
						li
							strong When 
							span #{event.startDate}, #{event.time}
						li
							strong Where 
							span #{event.venues[0].name} - #{event.venues[0].address} 
								a(href=event.venues[0].googleMapsUrl) (view map)

					p
						a.register(href=lanyrdUrl) Register for this event at Lanyrd.com

				section.presentations

					h2 Presentations

					if event.speakers.length === 0
						p We are currently looking for presenters for the next event. 
							a(href='http://twitter.com/melbjs') Contact us if you'd like to speak.
					else
						ul
							each session in event.sessions
								if session.title !== 'TBA'
									li
										if session.speakers.length === 1 && session.speakers[0].twitterHandle
											a(href='http://lanyrd.com/profile/' + session.speakers[0].twitterHandle.replace('@',''))
												img(src=avatars[session.speakers[0].twitterHandle.replace('@','')])
										else
											img.no-avatar(src='http://avatars.io/twitter/melbjs_no_avatar?size=large')


										h3
											a(href=session.url)= session.title
										
										if session.speakers.length === 1
											h4 presented by 
												if session.speakers[0].twitterHandle
													a(href='http://lanyrd.com/profile/' + session.speakers[0].twitterHandle.replace('@',''))= session.speakers[0].name
												else
													session.speakers[0].name

				
			section

				h2 Keep the conversation going

				ul

					li
						a(href='http://twitter.com/melbjs') Follow or contact us on Twitter
					li
						a(href='https://twitter.com/search/%23melbjs') Use the #MelbJS hashtag
					li
						a(href='http://lanyrd.com/series/melbjs') Follow our series on Lanyrd
					li
						a(href='http://lanyrd.com/series/melbjs/save-to-calendar/') Add our events to your calendar

			section

				h2 Want to be an active part of our community?

				p
					| We are always looking for presentations, and we love nothing more 
					| than to hear from somebody who has never given a talk before. Have you been 
					| using an interesting plugin, tool, framework or library? Want to 
					| get back to basics and teach us some useful JavaScript techniques? Maybe
					| you just want to share some of your hard-earned opinions. Whatever it is, 
					a(href='http://twitter.com/melbjs') contact us on Twitter
					|  to get involved in an upcoming event.

					
			//-each article in articles
			//-	include includes/article
